@import "reset.css";

table {
  width: 500px;
  height: 541px;
  margin: auto;
}

tr, td {
  border: solid 10px #1c1c1c;
}

tr:first-child {
  height: 52px;
}

tr:nth-child(2) {
  height: 140px;
}

tr:nth-child(3) {
  height: 138px;
}

tr:nth-child(4),
tr:nth-child(5) {
  height: 68px;
}

tr:nth-child(6) {
  height: 40px;
}

tr:last-child {
  height: 30px;
}

tr:nth-child(4) td:first-child,
tr:nth-child(4) td:nth-child(2),
tr:nth-child(5) td:nth-child(2),
tr:nth-child(5) td:nth-child(3) {
   width: 60px;
 }

tr:nth-child(6) td:last-child {
  width: 7px;
}

tr:nth-child(3) td:nth-child(2) {
  width: 78px;
}

tr:nth-child(3) td:last-child {
  width: 2px;
}

tr:first-child,
tr:first-child td {
  border-top: none;
}

tr, tr td:first-child,
tr td:last-child {
  border-left: none;
  border-right: none;
}

tr:last-child td,
tr:nth-child(6) td:last-child {
  border-left: solid 10px #1c1c1c;
}

tr:last-child,
tr:last-child td,
tr:nth-child(5) td:first-child,
tr:nth-child(5),
tr:nth-child(6),
tr:nth-child(6) td:first-child {
  border-bottom: none;
}

tr:nth-child(4) td:first-child,
tr:nth-child(4) td:nth-child(2),
tr:nth-child(5) td:nth-child(2),
tr:nth-child(5) td:nth-child(3),
tr:nth-child(6) td:last-child {
  background: url('../img/black.png');
}

tr:first-child td:last-child,
tr:nth-child(2) td:last-child,
tr:nth-child(5) td:first-child {
  background: url('../img/yellow.png');
}

tr:nth-child(2) td:nth-child(2) {
  background: url('../img/red.png');
}

tr:nth-child(5) td:last-child {
  background: url('../img/blue.png');
}
